
@section head{
    <style type="text/css">
    body
    {        
       
        /*padding-top:20px;*/
        background-image:url('/images/img-3.jpg');
        background-size:auto;
        background-position:center;
        background-repeat:no-repeat; 
        image-resolution:589x295;
        margin:auto;
    }
    </style>
}
<a href="~/Manager/Product" class="btn btn-success">Fruits</a></td>

<a href="~/Manager/vege" class="btn btn-success" style="Margin-left:3%">Vegatables</a></td>


<a href="~/Manager/dairy" class="btn btn-success" style="Margin-left:3%">Dairy</a></td>
